{% extends 'base.html.twig' %}

{% block title %}Under Construction{% endblock %}

{% block body %}

    <main class="main-content">
        <h1>🚧 Under Construction 🚧</h1>
        <p>Pardon our dust while we're making exciting improvements!</p>
    </main>

{% endblock %}
